.footer__copyright {
    color: #545454;
    font-size: 18px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: lighter;
    margin-top: 66px;
    line-height: 22px;
}