.profile__name {
    border: 0;
    border-bottom: 1px solid #545454;
    margin-top: 54px;
    margin-left: 34px;
    width: 358px;
    height: 27px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .profile__name {
        max-width: 238px;
    }
}