.popup__container {
    min-width: 430px;
    min-height: 330px;
    justify-self: center;
    align-self: flex-end;
    border-radius: 3%;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__container {
        min-width: 100%;
        height: 100%;
        margin-left: 19px;
    }
}