.like {
    align-self: flex-end;
    width: 22px;
    height: 19px;
    font-size: 24px;
    margin-right: 30px;
    margin: 0;
    background: url(../../image/like.png);
    border: 0;
}

.like:focus {
    background: url(../../image/like_active.png);
}